@use "./reset";
@use "./themes//light.scss";
@use "./variables/global";
@use "./variables//typography.scss";
@use "./swiper/swiper.scss";

body {
    @media screen and (min-width: 3840px) {
        zoom: 2;
    }

    @media screen and (min-width: 2560px) {
        zoom: 1.5;
    }

    @media screen and (max-width: 1380px) {
        zoom: 0.8;
    }

    @media screen and (max-width: 1160px) {
        zoom: 0.6;
    }

    @media screen and (max-width: 600px) {
        zoom: 1;
    }
}

.app {
    min-height: 100vh;
    color: var(--primary-color);
    font: var(--font-m);
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.content-page {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container {
    max-width: 1440px;
    padding: 90px;
    margin: 0 auto;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}

button {
    cursor: pointer;
}

@media (max-width: 1540px) {
    .container {
        padding: 90px 0;
    }
}
