.join {
    padding: 115px 100px 160px;
}

.joinContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    background: #141416;
    padding: 45px 31px 45px 66px;
    position: relative;
}

.joinLeft {
    display: flex;
    flex-direction: column;
}

.joinLeft h4 {
    color: var(--white-color);
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.45px;
}

.joinLeft p {
    color: #d4d4d4;
    font-family: Poppins;
    font-size: 20.265px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.203px;
    margin: 12px 0 50px;
}

.joinBlockButtons {
    display: flex;
    gap: 30px;
}

.joinRight {
    position: absolute;
    right: -20px;
    bottom: -50px;
}

.joinImgMob {
    display: none;
}

@media (max-width: 1024px) {
    .joinLeft h4 {
        font-size: 32px;
    }
    .joinLeft p {
        font-size: 14px;
    }

    .joinRight {
        bottom: -60px;
    }
}

@media (max-width: 600px) {
    .join {
        display: flex;
        justify-content: center;
        padding-top: 115px !important;
        padding-bottom: 170px !important;
    }
    .joinContainer {
        max-width: 315px;
        padding: 22px 38px 82px;
        border-radius: 15px;
    }
    .joinLeft h4 {
        font-size: 22px;
        text-align: center;
    }
    .joinLeft p {
        font-size: 10px;
        margin: 5px 0 25px;
    }
    .joinLeft {
        align-items: center;
    }
    .joinImg {
        display: none;
    }
    .joinImgMob {
        display: block;
    }
    .joinRight {
        right: -5px;
        bottom: -120px;
    }
}
