@font-face {
    font-family: 'Inter';
    src: url('/public/assets/fonts/Inter/Inter-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Inter';
    src: url('/public/assets/fonts/Inter/Inter-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Inter';
    src: url('/public/assets/fonts/Inter/Inter-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Outfit';
    src: url('/public/assets/fonts/Outfit/Outfit-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Public Sans';
    src: url('/public/assets/fonts/Publicsans/PublicSans-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Poppins';
    src: url('/public/assets/fonts/Poppins/Poppins-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Poppins';
    src: url('/public/assets/fonts/Poppins/Poppins-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Poppins';
    src: url('/public/assets/fonts/Poppins/Poppins-SemiBold.ttf');
    font-weight: 600;
}
