.footer {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    width: 100%;
    padding: 90px 0;
}

.footerUp,
.footerDown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footerUp {
    padding-bottom: 25px;
}

.footerDown {
    padding-top: 60px;
    border-top: 1px solid #8181813f;
}

.footerDown p {
    color: #999;
    font-family: Inter;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
}

.footerLinks {
    display: flex;
    align-items: center;
    gap: 10px;
}

// Mobile

@media (max-width: 600px) {
    .footer {
        display: none;
    }
}
