.timer {
    padding: 9px 14px;
    border-radius: 9.41px;
    border: 1.176px solid rgb(28 29 32 / 8%);
    background: rgb(28 29 32 / 35%);
    box-shadow: 0 4.705px 14.115px 0 rgb(28 29 32 / 8%);
    backdrop-filter: blur(2.3525px);
}

.timerContent {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--white-color);
    font-family: Poppins;
    font-size: 14.115px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.118px;
}

@media (max-width: 1024px) {
    .timer {
        border-radius: 6px;
        padding: 4px 10px;
    }
    .timerContent {
        font-size: 10px;
    }
}

@media (max-width: 600px) {
    .timerContent {
        font-size: 9px;
    }
}
