.button {
    padding: 20px;
    margin: 0;
    border: none;
    transition: 0.2s background ease;
}

.primary {
    border-radius: 12px;
    background: var(--primary-color);
    color: var(--white-color);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.163px;
    text-transform: uppercase;
}

.primary:hover {
    background: #222;
}

.primaryInverted {
    border-radius: 12px;
    background: #0000;
    color: var(--white-color);
    border: 2px solid var(--white-color);
}

.primaryInverted:hover {
    background: #d7d7d7;
    color: #1a1a1a;
}

.secondary {
    border-radius: 12px;
    background: #d7d7d700;
    border: 1.5px solid var(--black-color);
    color: var(--black-color);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.163px;
    text-transform: uppercase;
}

.secondary:hover {
    background: #d7d7d7;
}

.secondaryInverted {
    border-radius: 12px;
    background: #fff;
}

.secondaryInverted:hover {
    background: #f2f2f2;
}
