.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    width: 100%;
    max-height: var(--header-height);
}

.headerWrapper {
    display: flex;
    gap: 57px;
}
