.header {
    padding: 30px 30px 20px !important;
    margin: 0 !important;
    display: none;
}

.headerWrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cbcbcb;
    padding-bottom: 20px;
    width: 100%;
    position: relative;
    z-index: 100;
}

.headerLogoBlock {
    display: flex;
    align-items: center;
    gap: 4px;
}

.mobileContentBlock {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    background-color: #f9f9f9;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    pointer-events: none;
    z-index: 0;
}

.mobileNav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    width: 100%;
}

.opened {
    opacity: 1;
    pointer-events: all;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-name: navbarIn;
    animation-delay: 0s;
    z-index: 30;
    padding: 0px 20px;
    margin-top: 50px;
}

.closed {
    opacity: 0;
    pointer-events: none;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-name: navbarOut;
    animation-delay: 0s;
    z-index: 0;
}

@keyframes navbarOut {
    from {
        height: 100%;
        transform: translateY(0);
        opacity: 1;
    }

    to {
        height: 0;
        transform: translateY(-100px);
        opacity: 0;
    }
}

@keyframes navbarIn {
    from {
        height: 0;
        transform: translateY(-100px);
        opacity: 0;
    }

    to {
        height: 100%;
        transform: translateY(0);
        opacity: 1;
    }
}

// Mobile

@media (max-width: 600px) {
    .header {
        display: flex;
    }
}
