.appLink {
    margin: 0;
    transition: 0.2s color ease;
    transition: 0.2s background ease;
    text-decoration: none;
    padding: 8px 20px;
    font-family: Inter;
    font-weight: 500;
}

.clear {
    padding: 0;
    margin: 0;
}

.unique {
    color: #fff;
    font-family: Poppins;
    font-size: 29.922px;
    font-weight: 600;
    line-height: 130%;
    padding: 0;
}

.primary {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #606060;
}

.primary:hover {
    border-radius: 10px;
    background: #c4c4c4;
}

.secondary {
    color: #b9b9b9;
}

.secondary:hover {
    text-decoration: underline;
    color: var(--white-color);
}
