.appLink {
    padding: 0;
    margin: 0;
    transition: 0.2s color ease;
    transition: 0.2s background ease;
    text-decoration: none;
    padding: 8px 20px;
}

.appLink:hover {
}

.primary {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #606060;
}

.primary:hover {
    border-radius: 10px;
    background: #c4c4c4;
}

.secondary {
    color: #b9b9b9;
}

.secondary:hover {
    text-decoration: underline;
    color: var(--white-color);
}
