.headerNavbar {
    display: flex;
    gap: 53px;
}

// Mobile

@media (max-width: 600px) {
    .headerNavbar {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        width: 100%;
    }
}
